<div id="contact" class="section_global_footer">
  <div class="footer3">
    <div class="container_medium2">
      <div class="footer4_middle">
        <div id="w-node-fe1ede91-450b-6d43-2420-103cb620d954-7e612bdc" class="col footer-col first">
          <a href="/" class="w-inline-block">
            <img src="/assets/media/logo.svg" loading="lazy" alt="Retail Stride" class="footer3_logo footer_logo">
          </a>
          <div class="flex end gap-small-medium mobile-start desktop-only tablet-hidden">
            <p class="paragraph_small copy">© 2025 Retail Stride. <span class="text-span-32">All rights reserved.<br>1014 W Jackson Blvd, Chicago, IL 60607</span></p>
          </div>
        </div>
        <div class="col footer-col last">
          <div class="footer_links-grid">
            <div class="footer_links-group">
              <p><strong>Brands</strong></p>
              <div class="footer_links">
                <a href="/#services" class="footer2_link">Our Services</a>
                <a href="/contact/" class="footer2_link">Contact</a>
              </div>
            </div>
            <div class="footer_links-group">
              <p><strong>Retailers</strong></p>
              <div class="footer_links">
                <a href="/retailers/" class="footer2_link">Login</a>
                <a href="/contact/#cta" class="footer2_link">Apply for Access</a>
                <a href="/#how-we-work" class="footer2_link">How It Works</a>
                <a href="/contact/" class="footer2_link">Contact</a>
              </div>
            </div>
            <div class="footer_links-group">
              <p><strong>Explore</strong></p>
              <div class="footer_links">
                <a href="/catalog/" class="footer2_link">Catalog</a>
                <a href="/contact/" class="footer2_link">Get in Touch</a>
                <a href="/privacy/" class="footer2_link">Privacy Policy</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-layout-blockcontainer mobile_extra mobile-only w-container">
        <div class="spacer_xsmall"></div>
        <div class="flex end gap-small-medium mobile-start">
          <p class="paragraph_small copy">© 2025 Retail Stride. <span class="text-span-32">All rights reserved.<br>1014 W Jackson Blvd, Chicago, IL 60607</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
