<div data-animation="default" class="navbar_component navbar w-nav" data-easing2="ease-out" position="" theme="" data-easing="ease-in-out" data-collapse="medium" role="banner" data-duration="700">
  <section class="container_medium">
    <div class="mobile-nav_component" style="transform: translate3d(-100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
      <div class="mobile-nav_content">
        <a href="/" aria-current="page" class="nav_brand nav_brand_mobile w-nav-brand w--current" aria-label="home">
          <img loading="lazy" alt="Retail Stride" src="/assets/media/logo.svg" class="nav_logo mobile_logo">
        </a>
        <a href="/brands/" class="mobile-nav_link">Brands</a>
        <a href="/retailers/" class="mobile-nav_link">Retailers</a>
        <a href="/catalog/" class="mobile-nav_link">Catalog</a>
        <a href="#" class="mobile-nav_link" data-login-trigger>Login</a>
        <div class="button-grup gap-tiny">
          <a href="/contact/#cta" class="btn phone-inverted btn_icon btn_reverse nav w-button">Request Access</a>
        </div>
      </div>
    </div>
    <div class="nav_container w-container">
      <a href="/" aria-current="page" class="nav_brand w-nav-brand w--current" aria-label="home">
        <img loading="lazy" alt="Retail Stride" src="/assets/media/logo.svg" class="nav_logo">
      </a>
      <nav role="navigation" class="nav_menu w-nav-menu">
        <a href="/brands/" class="nav_link w-nav-link">Brands</a>
        <a href="/retailers/" class="nav_link w-nav-link">Retailers</a>
        <a href="/catalog/" class="nav_link w-nav-link">Catalog</a>
        <a href="#" class="nav_link w-nav-link" data-login-trigger>Login</a>
      </nav>
      <div class="nav_cta">
        <div class="button-grup gap-tiny">
          <a href="/contact/#cta" class="btn phone-inverted btn_icon btn_reverse w-button">Request Access</a>
        </div>
      </div>
      <div class="mobile-div">
        <div class="nav_cta mobile-only">
          <div class="button-grup gap-tiny">
            <a href="/contact/#cta" class="nav-btn w-button">Request Access</a>
          </div>
        </div>
        <div data-w-id="05db7e8e-da02-5878-cf32-5d68c21f6f06" class="navbar1_menu-button w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
          <div class="menu-icon1">
            <div class="menu-icon1_line-top">
              <div class="menu-icon1_line-middle-inner"></div>
            </div>
            <div class="menu-icon1_line-middle">
              <div class="menu-icon1_line-middle-inner"></div>
            </div>
            <div class="menu-icon1_line-bottom">
              <div class="menu-icon1_line-middle-inner"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
