#TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 {}

#TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 a, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  abbr, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  acronym, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  address, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  applet, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  article, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  aside, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  audio, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  b, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  big, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  blockquote, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  body, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  canvas, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  caption, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  center, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  cite, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  code, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  dd, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  del, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  details, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  dfn, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  div, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  dl, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  dt, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  em, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  embed, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  fieldset, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  figcaption, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  figure, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  footer, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  form, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  h1, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  h2, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  h3, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  h4, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  h5, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  h6, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  header, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  hgroup, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  html, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  i, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  iframe, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  img, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  ins, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  kbd, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  label, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  legend, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  li, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  mark, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  menu, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  nav, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  object, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  ol, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  output, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  p, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  pre, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  q, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  ruby, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  s, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  samp, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  section, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  small, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  span, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  strike, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  strong, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  sub, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  summary, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  sup, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  table, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  tbody, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  td, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  tfoot, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  th, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  thead, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  time, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  tr, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  tt, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  u, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  ul, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  var, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09  video {
    font: revert;
    margin: revert;
    padding: revert;
}


#TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 table {
    line-height: 1.4;
    font-size: .75em;
}
#TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 1em;
}
#TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 .table-bordered {
    border: 0;

    word-break: normal;
}

#TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 th, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 td {
    padding: 1em;
    min-width: 15em;
    text-align: left;
}
#TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 th {
    font-weight: bold;
    text-align: left;
    vertical-align: bottom;
}
#TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 td {
    vertical-align: top;
}

#TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 table ul, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 table ol, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 table li {
    font-size: 1em;
}
#TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 table ul, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 table ol {
    margin-left: 0;
    padding-left: 1em;
}


#TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 .accordions {
    border: 1px solid #aaa;
    border-radius: 4px;
    margin: 16px 0;
    
}
#TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 .accordion {
    border-bottom: 1px solid #aaa;
}
#TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 .accordion:last-child {
    border-bottom: 0px;
}
#TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 .accordion-summary {
    cursor: pointer;
    padding: .5em .5em;
    /* display: unset !important; */
}
#TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 .accordion-summary:hover {
    background-color: #bfbfbf40;
}
#TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 .accordion-heading {
    display: inline;
    margin: 0;

}
#TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 .accordion .accordion-heading h3:after, #TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 .accordion h3:after {
    border:0!important;
}
#TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 .accordion-content {
    margin: 0;
    padding: .5em 1.5em;

}
#TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 .accordion-section {

}
#TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 .accordion-section + * {
    margin-top: 1em;
}
#TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 .accordion-section-heading {
    margin: 0;
}
#TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 .accordion-section-content {

}


#TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 .text-center {
    text-align: center !important;
}

#TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 .text-uppercase {
    text-transform: uppercase !important;
}

#TTFGV1ZFUTVZVVp4T1ZCcFFtYzlQUT09 .text-lowercase {
    text-transform: lowercase !important;
}
