<!DOCTYPE html>
<html {{HTML_ATTRIBUTES}}>
  <head>
    <meta charset="utf-8">
    <title>{{TITLE}}</title>
    <meta name="description" content="{{DESCRIPTION}}">
    <meta property="og:title" content="{{OG_TITLE}}">
    <meta property="og:description" content="{{OG_DESCRIPTION}}">
    <meta property="og:image" content="{{OG_IMAGE}}">
    <meta property="og:type" content="website">
    <meta name="twitter:title" content="{{TWITTER_TITLE}}">
    <meta name="twitter:description" content="{{TWITTER_DESCRIPTION}}">
    <meta name="twitter:image" content="{{TWITTER_IMAGE}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="8exk2lKFLI71cpxt6PnFJPTGZBDnVpQ3DtcZ4U9CLT0">
    <link rel="icon" href="/assets/media/favicon.png" type="image/png" sizes="32x32">
    <link rel="shortcut icon" href="/assets/media/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/assets/media/apple-touch-icon.png">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="preconnect" href="https://use.typekit.net/" crossorigin>
    <link rel="preconnect" href="https://p.typekit.net/" crossorigin>
    <script src="/assets/main.js" defer></script>
    {{EXTRA_HEAD}}
  </head>
  <body class="{{BODY_CLASS}}">
    {{HEADER}}
    {{CONTENT}}
    {{FOOTER}}
    {{LOGIN_MODAL}}
  </body>
</html>
